@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--neutral: #f1f6f9;
	--background: #0b1d2c;

	--brand-1: #17344a;
	--brand-2: #132e43;
	--brand-3: #b9b4c7;
	--accent-1: #ffc600;
	--accent-2: #d6a801;
}

body {
	color: var(--neutral);
	background-image: url('/img/bg.svg');
	background-attachment: fixed;
	background-size: cover;
}

h1 {
	font-weight: 700;
	font-size: xx-large;
}

h2 {
	font-weight: 700;
	font-size: x-large;
}

h3 {
	font-weight: 700;
	font-size: larger;
}

p {
	font-weight: 400;
	font-size: large;
}

label {
	font-weight: 400;
	font-size: medium;
	margin-bottom: 5px;
	color: var(--brand-3);
}

li {
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: large;
}

section {
	display: flex;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
	align-items: center;
	padding-block: 12em;
}

input,
textarea {
	border-radius: 4px;
	padding-inline: 10px;
	padding-block: 6px;
	font-size: large;
	margin-bottom: 20px;
	background-color: var(--brand-1);
	transition: ease;
}

input:focus,
textarea:focus {
	outline: none;
	background-color: var(--brand-1);
}

#shadow-host-companion {
	padding: 0;
}
