@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--neutral: #f1f6f9;
	--background: #122738;

	--brand-1: #1c3e58;
	--brand-2: #214867;
	--brand-3: #b9b4c7;
	--accent-1: #ffc600;
	--accent-2: #d6a801;
}

body {
	color: var(--neutral);
	background: var(--background);
}

h1 {
	font-weight: 700;
	font-size: xx-large;
}

h2 {
	font-weight: 700;
	font-size: larger;
}

h3 {
	font-weight: 700;
	font-size: large;
}

p {
	font-weight: 400;
	font-size: large;
}

li {
	font-weight: 400;
	font-size: large;
}

li {
	display: flex;
	align-items: center;
}

section {
	display: flex;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
	align-items: center;
	padding-top: 5rem /* 80px */;
	padding-bottom: 5rem /* 80px */;
	height: 70vh;
}
